* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0rem 0rem 0rem;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  .icon {
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }
}

@import "_form";
@import "_book";
@import "_library";
@import "_read";
